/* .AllBoxes{
    font-size:20px;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    height: 5%;
}

input{
    width: 200px;
    height: 50px;
    border: 1px solid blue;
    font-size: 18px;
}

#description{
    width: 600px;
    height: 50px;
    border: 1px solid red;
    font-size: 10px;
}

label{
    padding-left: 2%;
}

#status{
    text-align: center;
    font-size: 18px;
}

.main
{
    width: 95%;
    border: 5px solid green;
    margin-left: 5px;
    margin-top: 10px;
}

#sub_button{
    margin-left: 10px;
    color: green;
    border-image-outset: 5px;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    font-size: 20px;
} */
