/* .side-bar{
    background-color: whitesmoke;
    color: white;
    border: 2px solid black;
    text-decoration: overline black;
   
    margin-left: 0%;
    padding: 20px;
    width: 100%;
    height: 15%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}
.top-bar{
    background-color: whitesmoke;
    color: white;
    border: 2px solid black;
    margin-left: 0%;
    padding: 20px;
    width: 100%; 
    height: 85%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.items{
    background-color: white;
    color: white;
    border: 2px solid black;
    margin-left: 0%;
    padding: 20px;
    width: 20%; 
    height: 100%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.data{
    float: right;
    background-color:whitesmoke;
    color: white;
    border: 2px solid black;
    margin-left: 0%;
    padding: 20px;
    width: 20%; 
    height: 100%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.main{
    background-color:whitesmoke;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 700px;
    width: 97%;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.left{
    background-color: whitesmoke;
    color: white;
    border: 2px solid black;
    margin-left: 0%;
    float: left;
    padding: 20px;
    width: 20%; 
    height: 100%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.right{
    background-color: whitesmoke;
    color: white;
    border: 2px solid black;
    margin-left: 0%;
    padding: 20px;
    width: 80%; 
    height: 100%;
    float:right;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
h3{
   
  color: black;
} */