.login-btn {
    margin-right: 3%;
}

.login-image {
    width: 40%;
    float: left;
    /* margin-top: 1%; */

    margin-left: 12%;
}

.login-form {
    width: 40%;
    background-color: white;
    float: right;
    padding-top: 8%;
    padding-right: 12%;
}

.label{
    justify-content: flex-start;
    align-items: flex-start;
}